
<%= form_for @trip do |f| %>
<% if @trip.errors.any? %>
  <div class="alert alert-danger">
    <h4> There is <%= pluralize(@trip.errors.count, "error") %>.</h4>
    <ul>
      <% @trip.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
<% end %>
  <%= form_group_tag(@trip.errors[:name]) do %>
    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control', placeholder: "Enter a trip" %> <br/>
    <div class="form-group">
      <%= f.label :start_date %>
      <%= f.text_field :start_date %>
    </div>
    <div class="form-group">
      <%= f.label :end_date %>
      <%= f.text_field :end_date %>
    </div>
  <% end %>

  <div class="form-group text-center">
    <br>

    <%= f.submit "Save", class: 'btn btn-success' %>
  </div>
<% end %>
