<div>
  <div class= "row col-md-2  col-xs-2 pull-left">
    <%= link_to trips_path, class: 'btn btn-primary' do  %>
      <i class="glyphicon glyphicon-arrow-left"> </i>&nbsp;
    <% end %>
  </div>
  <br/>
  <h1 class="text-center heading"> <%= link_to @trip.name.capitalize, edit_trip_path(@trip) %></h1>

  <!-- Panels -->
  <div class="row row-flex row-flex-wrap">

    <!-- Left Panel - Invited Friends -->
    <div class="col-md-3 col-xs-12">
      <div class="panel panel-default panel-info custom-panel">
        <div class="panel-heading text-center">
          <h3> Invited Friends </h3>
        </div>

        <div class="panel-body">
          <%= render partial: "invites/form", locals: { invite: @invite } if @trip.user == current_user %>

          <table class="table table-borderless">
            <% if @trip.trippers.any? %>
              <% @trip.trippers.each do |tripper| %>
                <tr>
                  <td>
                    <strong> <%= tripper.user.name.capitalize %> </strong>
                  </td>
                </tr>
              <% end %>
            <% end %>
          </table>
      </div>
    </div>
  </div>

    <!-- Middle Panel - Polls -->
    <div class="col-md-4 col-xs-12">
      <div class="panel panel-default custom-panel">
        <div class="panel-heading text-center">
          <h3> <%= link_to "Add a Poll", new_trip_poll_path(@trip) %></h3>
        </div>
        <div class="panel-body text-center">
          <% @trip.polls.each do |poll| %>
            <h4> <%= link_to "#{poll.topic.capitalize}", trip_poll_path(poll.trip, poll) %>
              <small>(voted: <%= poll.votes_summary %>)</small>
            </h4>
          <% end %>
        </div>
      </div>
    </div>

    <!-- Right Panel - RSVP Status -->
    <div class="col-md-5 col-xs-12">
      <div class="panel panel-default panel-info custom-panel">
        <div class="panel-heading text-center">
          <h3> RSVP Status</h3>
        </div>
        <div class="panel-body ">
          <table class="table table-striped table-borderless table-nonfluid">
            <thead>
              <tr>
                <td> <strong> Name </strong> </td>
                <td> <strong> Status </strong> </td>
                <td> <strong>  </strong> </td>
                <td> <strong> Invite link </strong> </td>
              </tr>
            </thead>
            <tbody>
            <% @trip.invites.each do |invite| %>
              <tr>
                <td> <%= invite.email %> </td>
                <td> <%= invite.status %> </td>
                <td> <%= link_to invite_path(invite.id),method: :delete, class: 'btn  btn-xs', data: {confirm: 'Are you sure?'} do %>
                  <i class="glyphicon glyphicon-pencil"> </i>&nbsp;
                <% end %>
                </td>
                <td> <%= link_to "Copy link", new_user_invites_path(invite_token: invite.token), class: 'btn  btn-xs'%></td>
              </tr>
            <% end %>
          </tbody>
          </table>
        </div>
      </div>
    </div>
    <!-- End of columns   -->
  </div>
</div>
