<div class="container">
  <div class= "row col-md-2 pull-left">
    <%= link_to trips_path, class: 'btn btn-primary' do  %>
      <i class="glyphicon glyphicon-arrow-left"> </i>&nbsp;
    <% end %>
  </div>
  <br />
  <h1 class="text-center"> <%= link_to @trip.name.capitalize, edit_trip_path(@trip)  %> </h1>
  <div class="row">
    <div class="col-md-3">
      <div class="panel panel-default panel-info">
        <div class="panel-heading text-center">
          <h3> Invite Friends for <%= @trip.name %></h3>
        </div>
        <div class="panel-body">
          <%= render partial: "invites/form", locals: { invite: @invite } if @trip.user == current_user %>
          <table class="table table-borderless">
            <h3 class="text-center"> Trippers </h3>
            <% @trip.trippers.each do |tripper| %>
              <tr>
                <td>
                  <strong> <%= tripper.user.name %> </strong>
                </td>
              </tr>
            <% end %>
          </table>
      </div>
    </div>
  </div>
    <div class="col-md-3">
      <div class="panel panel-default panel-info">
        <div class="panel-heading text-center"> <h3> <%= link_to "Add a Poll", new_trip_poll_path(@trip) %> </h3> </div>
        <div class="panel-body">
          <% @trip.polls.each do |poll| %>
            <h4> <%= link_to "#{poll.topic.capitalize}", trip_poll_path(poll.trip, poll) %>
            <small>(voted: <%= poll.votes_summary %>)</small>
            </h4>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel panel-default panel-info">
        <div class="panel-heading text-center"> RSVP Status</h3> </div>
        <div class="panel-body">
          <h4>  <%= @trip.invites.count %> invited </h4>
          <table class="table table-striped table-borderless table-nonfluid">
            <thead>
              <tr>
                <td> <strong> Name </strong> </td>
                <td> <strong> Status </strong> </td>
                <td> <strong>  </strong> </td>
              </tr>
            </thead>
            <% @trip.invites.each do |invite| %>
              <tr>
                <td> <%= invite.email %> </td>
                <td> <%= invite.status %> </td>
                <td> <%= link_to invite_path(invite.id),method: :delete, class: 'btn  btn-xs', data: {confirm: 'Are you sure?'} do %>
                  <i class="glyphicon glyphicon-pencil"> </i>&nbsp;
                <% end %>
                </td>
              </tr>
            <% end %>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
