<div class="container">
  <div class= "row col-md-2 pull-left">
    <%= link_to trip_path(@trip), class: 'btn btn-primary' do  %>
      <i class="glyphicon glyphicon-arrow-left"> </i>&nbsp; 
    <% end %>
  </div>
  <br />
  <div class="row col-md-8">
    <h2><%= @poll.topic %> 
      <small>
        <%= link_to edit_trip_poll_path(@trip, @poll), class: 'btn btn-default btn-sm'  do %>
          <i class="glyphicon glyphicon-pencil"> </i>&nbsp; 
        <% end %>
        <%= link_to  trip_poll_path(@trip, @poll),method: :delete, class: 'btn btn-danger btn-sm', data: {confirm: 'Are you sure?'} do %>
          <i class="glyphicon glyphicon-trash"> </i>&nbsp;
        <% end %> 
      </small>
    </h2>
  </div>
  <div class="row">
    <div class="col-md-6">
      <ul class="list-group">
        <% @poll.poll_options.each do |option| %> 
          <li class="list-group-item"> <%= option.title %>  </li>
        <% end %> 
      </ul>
    </div>
  </div>
</div>