<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      You are invited to participate in <%= @invite.trip.name %> trip. Please Sign up for more information. Click this <%=link_to "link", @signup_url%>.
    </p>
    <div class="panel panel-default panel-info">
      <div class="panel-heading text-center">
         Are you in?
      </div>
      <div class="panel-body">
        <div class="btn-group">
          <button> <%= link_to "Yes",  accept_invite_url(@invite) %> </button>
          <button> <%= link_to "No!", decline_invite_url(@invite) %> </button>
          <button> <%= link_to "More details!!!", trip_url(@trip) %> </button>
       </div>
      </div>
    </div>

    <p> Happy Planning and Tripping!!! </p>

    <p>
      Thanks,<br/>
      <%= @invite.sender.name %>
    </p>
  </body>
</html>
