<div class="container">
  <div class="row">
    <h1 class="text-center"> Trip Expense </h1>
  </div>
  <div class="row">
    <div class="col-md-8">
      <div class="panel panel-default panel-info">
        <div class= "panel-heading">
          <table class="table">
            <thead>
              <tr>
                <td> <strong> Trip: </strong> <%= @trip.name %> </td>
                <td> <strong> Number of trippers: </strong>  <%=  @trip.user_count %> </td>
                <td> <strong> Total Expense: </strong> <%= @trip.total_expenses %> </td>
                <td> <strong>Per head:</strong><%= @trip.expense_per_person  %> </td>
              </tr>
            </thead>
          </table>
        </div>
        <div class="panel panel-body">
          <table class="table table-bordered table-striped ">
            <thead>
              <tr>
                <td> <strong>  User </strong> </td>
                <td> <strong> Category </strong> </td>
                <td> <strong> Amount Spent </strong> </td>
                <td> <strong> Amount Owe  </strong> </td>
                <td> <strong> Amount get </strong>  </td>
                <td> <strong> Edit </strong> </td>
              </tr>
            </thead>
            <tbody>
              <% @trip.expenses.each do |expense| %>
                <tr>
                  <td> <%= expense.user.name %> </td>
                  <td> <%= expense.category %> </td>
                  <td> <%= expense.amount_spent %> </td>
                  <td> <%= expense.amount_owe %> </td>
                  <td> <%= expense.amount_get %></td>
                  <td> <%= link_to  edit_trip_expense_path(expense.trip, expense), class: 'btn  btn-xs' do %>
                    <i class="glyphicon glyphicon-pencil"> </i>&nbsp;
                  <% end %>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-md-4">
        <table class="table table-borderless table-striped ">
          <thead>
            <tr>
              <td> <strong>  Giver </strong> </td>
              <td> <strong> Receiver </strong> </td>
              <td> <strong> Amount </strong> </td>
            </tr>
          </thead>
          <tbody>
            <% @trip.reconciliations.each do |recon| %>
              <tr>
                <td> <%= recon.giver %> </td>
                <td> <%= recon.receiver %> </td>
                <td> <%= recon.amount %> </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel panel-default panel-info">
        <div class= "panel-heading">
          <h3> Expense Form </h3>
        </div>
        <div class="panel-body">
          <%= render 'expenses/form' %>
        </div>
      </div>
    </div>
  </div>
</div>
